doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/style.css")
    body
        h1= title

        table
            thead
                tr
                    th Make
                    th Model
                    th Year
            tbody
                each vehicle in vehicles
                    tr
                        td= vehicle.make
                        td= vehicle.model
                        td= vehicle.model_year